{% extends 'divine/base.html' %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb py-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mb-4">Contact Us</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active text-white">Contact</li>
        </ol>    
    </div>
</div>
<!-- Header End -->


<!-- Contact Start -->
<div class="container-fluid contact-page contact py-5" style="background: var(--bs-primary);">
    <div class="container pt-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="display-3 text-white mb-4">Contact Us</h1>
                    <p class="text-white fs-4"><b style="font-size: 28px;">We’d love to hear from you.</b><br> Get in touch with us and we’ll respond as soon as possible.</p>
                </div>
            </div>

            <!-- Popup Message -->
            <div id="popupMessage" class="popup-message">
                <div id="popupContent" class="popup-content"></div>
            </div>

            <div class="col-lg-6">
                <div class="contact-form rounded p-5">
                    <form method="POST" id="contactForm" novalidate autocomplete="off">
                        {% csrf_token %}
                        <h1 class="display-6 mb-4">Do You have Any Questions?</h1>
                        <div class="row gx-4 gy-3">
                            <div class="col-xl-6" style="position: relative;">
                                <input type="text" name="name" id="name" value="{{ form.name.value|default:'' }}" class="form-control bg-white border-0 py-3 px-4" placeholder="Your Full Name" autocomplete="off">
                            </div>
                            <div class="col-xl-6" style="position: relative;">
                                <input type="email" name="email" id="email" value="{{ form.email.value|default:'' }}" class="form-control bg-white border-0 py-3 px-4 {% if form.email.errors %}is-invalid{% endif %}" placeholder="Your Email" autocomplete="off">
                                {% if form.email.errors %}
                                    <div class="error-popup">
                                        <span class="error-text">
                                            {% for error in form.email.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-xl-6" style="position: relative;">
                                <input type="tel" name="phone" id="phone" value="{{ form.phone.value|default:'' }}" class="form-control bg-white border-0 py-3 px-4 {% if form.phone.errors %}is-invalid{% endif %}" placeholder="Your Phone No."  autocomplete="off" oninput="this.value = this.value.replace(/[^0-9]/g, '')" pattern="\d{10}" maxlength="10" required>
                                {% if form.phone.errors %}
                                    <div class="error-popup">
                                        <span class="error-text">
                                            {% for error in form.phone.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-xl-6" style="position: relative;">
                                <input type="text" name="subject" id="subject" value="{{ form.subject.value|default:'' }}" class="form-control bg-white border-0 py-3 px-4" placeholder="Subject" autocomplete="off">
                            </div>
                            <div class="col-12" style="position: relative;">
                                <textarea name="message" id="message" class="form-control bg-white border-0 py-3 px-4" rows="4" placeholder="Your Message" autocomplete="off">{{ form.message.value|default:'' }}</textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary btn-primary-outline-0 w-100 py-3 px-5" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Contact End -->

{% if messages %}
    {% for message in messages %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var popupMessage = document.getElementById('popupMessage');
                var popupContent = document.getElementById('popupContent');
                popupContent.textContent = "{{ message }}";

                // Set the background color based on message type
                if ("{{ message.tags }}" === "success") {
                    popupMessage.style.backgroundColor = "green";
                } else if ("{{ message.tags }}" === "error") {
                    popupMessage.style.backgroundColor = "red";
                }

                popupMessage.style.display = "block";
                setTimeout(function() {
                    popupMessage.style.display = "none";
                }, 4000);
            });
        </script>
    {% endfor %}
{% endif %}


{% endblock content %}
