{% extends "divine/base.html" %}
{% load static %}

{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb py-5">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">Our Services</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active text-white">Services</li>
        </ol>    
    </div>
</div>
<!-- Header End -->


<!-- Services Start -->
<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <p class="fs-4 text-uppercase text-center text-primary">Our Services</p>
            <h1 class="display-3">Beauty Services</h1>
        </div>
        <div class="row g-4">
            {% for service in services %}
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 rounded p-4
                    {% if forloop.counter|divisibleby:2 %} service-right {% else %} service-left {% endif %}">
                    
                    <div class="row align-items-center">
                        {% if forloop.counter|divisibleby:2 %}
                            <!-- Image LEFT -->
                            <div class="col-4">
                                <div class="services-img d-flex justify-content-center">
                                    {% if service.image %}
                                        <img src="{{ service.image.url }}" class="img-fluid rounded" alt="{{ service.name }}">
                                    {% else %}
                                        <img src="{% static 'img/default-service.jpg' %}" class="img-fluid rounded" alt="{{ service.name }}">
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Text RIGHT -->
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>{{ service.name }}</h3>
                                    <a href="{% url 'appointment' %}?service={{ service.id }}#appointment"
                                    class="btn btn-primary rounded-pill py-2 px-4">
                                        Book Service
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <!-- Text LEFT -->
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>{{ service.name }}</h3>
                                    <a href="{% url 'appointment' %}?service={{ service.id }}#appointment"
                                    class="btn btn-primary rounded-pill py-2 px-4">
                                        Book Service
                                    </a>
                                </div>
                            </div>

                            <!-- Image RIGHT -->
                            <div class="col-4">
                                <div class="services-img d-flex justify-content-center">
                                    {% if service.image %}
                                        <img src="{{ service.image.url }}" class="img-fluid rounded" alt="{{ service.name }}">
                                    {% else %}
                                        <img src="{% static 'img/default-service.jpg' %}" class="img-fluid rounded" alt="{{ service.name }}">
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}

            <div class="col-12">
                <div class="services-btn text-center">
                    <a href="?all=true" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Show More Services</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

{% endblock content %}